<h1>My Wishlist</h1>


<div class="container" ng-show="ctrl.stateIsLoading">
  <h2>Map is Loading</h2>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
      70%
    </div>
  </div>
</div>
<div ng-hide='ctrl.stateIsLoading'>
</div>
<ui-gmap-google-map center="ctrl.map.center" zoom="ctrl.map.zoom">
  <ui-gmap-marker ng-repeat="marker in ctrl.wishList"
    idKey='marker.id'
    coords='marker.coords'
    options='marker.options'
    >
  </ui-gmap-marker>
</ui-gmap-google-map>
