<h1>My Wishlist</h1>


<div class="container" ng-show="ctrl.stateIsLoading">
  <h2>Map is Loading</h2>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
      70%
    </div>
  </div>
</div>
<div ng-hide='ctrl.stateIsLoading'>
</div>
<div class="container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="row col-col-8 col-lg-8 col-md-8 col-sm-8 col-xs-8">
<ui-gmap-google-map center="ctrl.map.center" zoom="ctrl.map.zoom">
  <ui-gmap-marker ng-repeat="marker in ctrl.wishList"
    idKey='marker.id'
    coords='marker.coords'
    options='marker.options'
    >
  </ui-gmap-marker>
</ui-gmap-google-map>
</div>
<div class="row col-col-4 col-lg-4 col-md-4 col-sm-4 col-xs-4" ng-repeat="attraction in ctrl.attractions | filter:{wishlists:{user_id:ctrl.user.id}}">
  <ul>
    <li>{{attraction.name}} -- {{attraction.city.name}}, {{attraction.country.name}}</li>
  </ul>
</div>
</div>
