<h1>New Attraction</h1>

<form ng-submit="ctrl.addAttraction()">
  <label for="name">Name</label>
  <input name="name" ng-model="ctrl.attraction.name">
  <br>
  <label for="address">address</label>
  <input name="address" ng-model="ctrl.attraction.address">
  <br>
  <label for="zip">zip</label>
  <input name="zip" ng-model="ctrl.attraction.zip">
  <br>

  <select style="display:inline" ng-model="ctrl.attraction.city_id" >
      <option value="" disabled selected>Select a City</option>
      <option  ng-repeat="city in ctrl.cities" value="{{city.id}}">{{city.name}}</option>
  </select>

    <select style="display:inline" ng-model="ctrl.attraction.country_id" >
        <option value="" disabled selected>Select a Country</option>
        <option  ng-repeat="country in ctrl.countries" value="{{country.id}}">{{country.name}}</option>
    </select> 

  <input type="submit" value="Add Attraction">

</form>
