/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap
 *= require angular-bootstrap/ui-bootstrap-csp.css
 *= require_tree .
 *= require_self
 */

 li {
   list-style-type: none;
 }
 .alert {
    display: none;
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
}
 .angular-google-map-container {
  height: 800px;
  width: 800px;
}
 h1 {
   text-align: center;
   font-family: times, Times New Roman, times-roman, georgia, serif;
   font-size: 3.3em;
   color: #41454E;
 }
 .auth-form {
   margin-left: 25%;
 }
 .new-country-form {
  padding: 3% 0 2% 3%;
  margin-left: 33%;
  box-shadow: 10px 10px 25px #888;
  border-style: groove;
  width: 35%;
}
.navbar-default {
  background-color:  #ff5c33;
}
.navbar-default .navbar-nav > li > a {
  color: white;
}
.navbar-default .navbar-brand{
  color: white;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  padding-right: 20px;
}
.dropdown-menu li a {
	padding: 5px 15px;
	font-weight: 300;
}
.form-name {
  font-size: 1.2em;
}
/*input[type="submit"] {
  margin-bottom: 10px;
  margin-left: 25%;
}*/
.auth-select {
  margin-left: 25%;
}
#city-button {
  margin-bottom: 10px;
  margin-left: 25%;
}
select {
  margin: 10px 0 10px 0;
}
@media(max-width:767px) {
  .new-country-form {
    margin-left: 10%;
    width: 80%;
  }
  input[type="submit"] {
    margin-top: 10px;
    margin-left: 0;
  }
  #city-button {
    margin-top: 10px;
    margin-left: 0;
  }
  .form-name {
    margin-left: 15%;
  }
  .auth-select {
    margin-left: 0;
  }
}
@media(min-width:767px) and (max-width:1199px) {
  input[type="submit"] {
    margin-top: 10px;
    /*margin-left: 25%;*/
  }
  .auth-form {
    margin-left: 33%;
  }
  #register-button {
    width: 50%;
  }
}
@media(min-width:1200px) {
  #city-button {
    margin-left: 25%;
  }
  select {
    margin: 0 0 10px 10px;
  }
  input[type="submit"] {
    margin-left: 10px;
  }
  .auth-select {
    margin-left: 25%;
  }
  #register-button {
    width: 50%;
  }
}
