<!DOCTYPE html>
<html>
<head>
  <title>TravelRailsAngular</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app='app'>
<div ng-include="'nav/_nav.html'"></div>
  <ui-view></ui-view>
  <!-- <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3KDZfo5MeuO0d86HpOhPej5uBKC5CRJs&callback=initMap"
    async defer></script> -->
</body>
</html>
