<!DOCTYPE html>
<html>
<head>
  <title>TravelRailsAngular</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3KDZfo5MeuO0d86HpOhPej5uBKC5CRJs&callback=initMap">
    </script>
</head>
<body ng-app='app'>
<div ng-include="'nav/_nav.html'"></div>
  <ui-view></ui-view>

</body>
</html>
